* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif; 
    margin:0;
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

html{
    background-color: #111;;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #111;
}
  
.active {
    background-color: #b11c1c;
}



.slideshow-container {
    max-width: 900px;
    position: relative;
    margin: auto;
    margin-top: 70px;
}
  
.my_slider {
    width:900px;
    height:500px;
    overflow: hidden;
    position:relative;
    list-style: none outside none;
    padding:0;
    margin:0;
}
.my_slider img {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity:0;
    width:900px;
    height: 500px;
}
.my_slider img:first-child {
    opacity:1;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
  